/* ----------------------------------------------------------------------------
 * Base
 * ------------------------------------------------------------------------- */
body {
  overflow-x: hidden;
}

//  Superscript formatting

sup {
  font-size: 50%;
  line-height: 1;
  vertical-align: baseline;
  top: -1em;
}

//h1 tags

.h1, h1 {
  font-size: 2rem;
}


/*Adding padding on elementor's boxed container*/
@media (max-width:1254px) {
  .elementor-top-section.elementor-section-boxed > .elementor-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
