/*Container*/
.blog-container {
  .alm-reveal {
    display: flex;
    flex-wrap: wrap;
  }
}

.filter-search {
  input {
    padding: 7px;
  }
}

.grid-listing {
  img {
    height: 230px;
    width: 100%;
    object-fit: cover;
  }
}

.bCats a:after {
  content: ", ";
}

.bCats a:last-child:after {
  content: "";
}

.filter-search {
  .dropdown,
  .dropdown-menu.show,
  .btn,
  .searchBox,
  form,
  input {
    width: 100%;
  }

}