.btn {
  &:hover {
    cursor: pointer;
  }
}

/*Gravity forms*/
.gform_next_button,
.gform_previous_button,
.gform_button {
  font-weight: 400;
  background-color: #0052bf;
  color: $w;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: #4861c0;
    transition: all .5s;
  }
}