.bodyContent a {color: #dd3333;}
.bodyContent a:hover {color: #dd3333;}
.mainHeader{position:relative;}$buttonColor:#dd3333;
$buttonTextColor:#ffffff;
 .btn, .button, .submit {
       background-attachment: scroll;
       background-clip: border-box;
       background-color: #dd3333 !important;
       background-image: none;
       background-origin: padding-box;
       background-position-x: 0;
       background-position-y: 0;
       background-repeat: repeat;
       background-size: auto auto;
       color: #ffffff !important;
       cursor: pointer !important;
       margin-bottom: 0.4em !important;
       margin-left: 0.4em !important;
       margin-right: 0.4em !important;
       margin-top: 0.4em !important;
       padding-bottom: .5em !important;
       padding-left: 1.3em !important;
       padding-right: 1.3em !important;
       padding-top: .5em !important;
       text-decoration-color: -moz-use-text-color;
       text-decoration-line: none;
       text-decoration-style: solid;
       font-size:24px !important;
       white-space: initial !important;
    } 
