/* ----------------------------------------------------------------------------
 * Search Modal
 * ------------------------------------------------------------------------- */
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  z-index: 99999999;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}

#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
  border: black;

}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  border: 3px solid #333;
  opacity: 1;
  // padding: 15px 22px;
  font-size: 27px;
}

form.searchform {
  // position: absolute;
  // top: 50%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  // margin-top: -51px;
  outline: none;
}

form.searchform input[type="text"] {
  outline: 1px solid #333;
  max-height: 100px;
  padding: 8px 0;
  display: inline-block;
  font-size: 42px;
  border: 2px solid #333;
}

form.searchform input[type="submit"] {
  border: 3px solid #333;
  padding: 5px 50px;
  max-height: 100px;
  font-size: 48px;
  text-transform: uppercase;
  color: #333;
 
}

form[role="search"] > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

form[role="search"] label.screen-reader-text {
  line-height: 1;
}

.search__container {
  padding-left: 30px;
  padding-right: 30px;
}

#search h3 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #333;
}


.search__close {
  padding: 0;
  border-color: #333;
}

.circCont{
  display:inline-block;
}
.circle{
  width:40px;
  height:40px;
  background:transparent;
  border: 4px solid #333;
  border-radius: 50%;
  position:relative;
  cursor:pointer;
  display:inline-block;
  margin:10px 20px;
  &:after{
    width:24px;
    height:4px;
    background-color:#333;
    content:"";
    left:50%;
    top:50%;
    margin-left:-12px;
    margin-top:-2px;
    position:absolute;
    transform: rotate(-45deg);
    /*@include transform-origin(100%,100%);*/
  }
  &:before{
    left:50%;
    top:50%;
    margin-left:-12px;
    margin-top:-2px;
    width:24px;
    height:4px;
    background-color:#333;
    content:"";
    position:absolute;
    transform: rotate(45deg);
    /*@include transform-origin(0%,0%);*/
  }
}

  .scaleUp:not(.scaleDown):not(.minimize){
    transform: 200ms cubic-bezier(0.175, 0.885, 0.52, 1.575);
    &:hover{
      transform: scale(1.2);
      &:after{
        transform: scale(1.1) rotate(45deg);
      }
      &:before{
        transform: scale(1.1) rotate(-45deg);
      }
    }
  }
