.stickyNav {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
  opacity: 0;
  transition-duration: 0.25s;
  display: none;
  &.stick {
    opacity: 1;
    display: block;
    z-index: 30;
  }
}

.elementor-editor-active {
  .stickyNav {
    display: block;
    position: relative !important;
    opacity: 1;
  }
}
