/* ----------------------------------------------------------------------------
 * Endless Swim Spas
 * ------------------------------------------------------------------------- */
.endless-unit.left {
  background: url(https://watkinsdealer.s3.amazonaws.com/Images/Content%20Blocks/Endless%20Pools%20Landing/884-492-endless-fitness-system.jpg);
  background-size: cover;
  background-position: center;
}

.endless-unit.center {
  background: url(https://watkinsdealer.s3.amazonaws.com/Images/Content%20Blocks/Endless%20Pools%20Landing/endless-pools-swimcross.jpg);
  background-size: cover;
}

.endless-unit.right {
  background: url(https://watkinsdealer.s3.amazonaws.com/Images/Content%20Blocks/Endless%20Pools%20Landing/884x492-endless-recsport.jpg);
  background-size: cover;
}

.endless-unit-inner {
  transition: opacity 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;

  @media (min-width: 1025px) {
    opacity: 0;
    height: 460px;
  }

  ul {
    @media (max-width: 1024px) {
      margin-top: 20px;
    }
  }

  li {
    color: #ffffff;
    font-size: 16px;

    @media (min-width: 1025px) {
      margin-bottom: 10px;
    }
  }
}

.endless-unit-container:hover .endless-unit-inner {
  opacity: 1;
}

.endless-unit-container h2 {
  background-color: #325082;
  color: $w;
  text-align: center;
  padding: 35px 10px 45px 10px;
  margin-bottom: 0;
  font-weight: bold;
}

