/* ----------------------------------------------------------------------------
 * Footer 1
 * ------------------------------------------------------------------------- */

footer {
  h2 {
    color: $w;
  }
}

/*Footer icons*/

.footer-icons {
  border-bottom: 3px solid $w;

  /*container on the footer icons*/
  .footer-icon-container {
    width: 160px;
    padding-left: 15px;
    padding-right: 15px;

    /*Hover effect on icons*/
    .footer-icon-item {
      &:hover {
        transition: .7s ease;
        transform: translateY(-3%);
      }
    }

    a {
      color: $w;
    }
  }
}

/*dealer locations*/
.dealer-locations-container {

  @media (max-width: 375px) {
    flex-direction: column;
  }
  .dealer-location {
    color: $w;

    a {
      color: $w;
    }
  }
}

/*Copyright*/
.footer-copyright {
  color: $w;
}

/*social media*/
.social-media-footer {
  .fa {
    color: $w;
    width: 20px;
    height: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fa-facebook {
    background-color: #49589a;
  }

  .fa-twitter {
    background-color: #67a6dc;
  }

  .fa-pinterest-p {
    background-color: #ae332d;
  }

  .fa-google-plus {
    background-color: #bc523d;
  }

  .fa-houzz {
    background-color: #90bd5d;
  }

  .fa-linkedin {
    background-color: #4575b0;
  }

  .fa-instagram {
    background-color: #536f97;
  }
}