/* ----------------------------------------------------------------------------
 * Main Menu
 * ------------------------------------------------------------------------- */
#header1 {

  ul {
    list-style: none;
  }

  .main-menu-container {
    .menu {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }
  }
} 

.navbar {
  width: 100%;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* ----------------------------------------------------------------------------
 * Utilities
 * ------------------------------------------------------------------------- */
.utility {

  ul {
    display: flex;
    list-style: none;
    float: right;
  }

  li {
    padding-right: 10px;
  }
}
