/* =========================================================================
Bazaar voice
========================================================================== */
.bazaar-reviews {
  width: 50%;
  float: left;
}

.bazaar-reviews > div > div img {
  width: 210px;
}

/* breadcrumbs */
.pageBread {
  text-align: initial;
  padding-top: 0px;
  margin-bottom: 0px;
}

.spa-cta-container {
  display: flex;
  flex-direction: column;
  float: right;
  margin-bottom: 4rem;
}

.spa-cta-container .btn {
  max-width: 300px;
}

/* bazaar reviews */
.bazaar-reviews div {
  width: initial !important;
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .right-single-intro {
    display: flex;
    flex-direction: column-reverse;
  }

  .spa-cta-container {
    align-items: center;
  }
}

@media (max-width: 992px) {

  .bazaar-reviews {
    text-align: center;
  }

  #spa-selector img:first-of-type {
    margin-top: 50px;
  }

}

@media (max-width: 768px) {
  .bazaar-reviews {
    width: 100%;
  }
}


