/* =========================================================================
    Default template
    ========================================================================== */
.woocommerce-page div.product div.images {
  width: initial;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  width: 100%;
}

.product_title.entry-title {
  font-weight: bold;
}

.product-template-hot-tub-template .elementor-accordion .elementor-accordion-item {
  border-top: 1px solid #cccccc;
}

.woocommerce div.product div.images {
  margin-bottom: 0;
}
/* =========================================================================
    Table
    ========================================================================== */

table.stacktable {
  border-collapse: collapse;
  width: 100%;
}

table.stacktable th, table.stacktable td {
  border: 1px solid #ccc;
  line-height: 1.5;
  padding: 0.75em;
  text-align: left;
}

@media (min-width: 769px) {
  table.stacktable tr:nth-child(even) {
    background: #eee;
  }
}

@media (max-width: 768px) {
  table.stacktable td:first-child {
    background: #eee !important;
  }

  table.stacktable tr + tr {
    margin-top: 1.5rem;
  }

  table.stacktable tr {
    border: 1px solid #ccc;
    border-bottom: 0;
  }

  .stacktable thead {
    display: none;
  }

  table.stacktable td:before {
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
  }
  table.stacktable td:before {
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
  }

  table.stacktable td:before {
    content: attr(data-label);
    font-family: 'prelobold', arial, sans-serif;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    width: 100%;
  }

  table.stacktable td {
    padding-left: 0.75em;
  }

  table.stacktable td {
    border: none;
    border-bottom: 1px solid #ccc;

  }

  table.stacktable tr, table.stacktable td {
    display: block;
  }

}