/* =========================================================================
Fixed Menu
========================================================================== */
#dsMenu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

#dsMenu.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dsCSLogo {
  display: none;
}
