/* =========================================================================
Jets BG Images
========================================================================== */
.tub-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 100px 0px;
  background-color: rgba(255, 255, 255, 0);

  .elementor-background-overlay {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,333333+55,333333+100&1+0,0+30,0+55,0.75+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(51, 51, 51, 0) 55%, rgba(51, 51, 51, 0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(51, 51, 51, 0) 55%, rgba(51, 51, 51, 0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(51, 51, 51, 0) 55%, rgba(51, 51, 51, 0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bf333333', GradientType=0); /* IE6-9 */
    opacity: 1 !important;
  }
}

/* =========================================================================
BG Pattern on Hot Springs
========================================================================== */
.explore-block {
  background: url(https://csp-mpd2.s3.amazonaws.com/bgpattern10.png);
  background-repeat: repeat;
}

/* =========================================================================
Grandee NXT
========================================================================== */
.reviews-bg {
  background: url(https://csp-mpd2.s3.amazonaws.com/distinction-background-lighting.jpg);
}

.grandeenxt-jets-bg {
  background-image: url(https://csp-hotspringspas.s3.amazonaws.com/products/highlife-nxt/grandee-nxt/a-spot-jet-system-grandee-nxt.jpg);
}

.arianxt-jets-bg {
  background-image: url(https://csp-hotspringspas.s3.amazonaws.com/products/highlife-nxt/aria-nxt/a-spot-jet-system-aria-nxt.jpg);
}

.vanguardnxt-jets-bg {
  background-image: url(https://csp-hotspringspas.s3.amazonaws.com/products/highlife-nxt/vanguard-nxt/a-spot-jet-system-vanguard-nxt.jpg);
}

.envoynxt-jets-bg {
  background-image: url(https://csp-hotspringspas.s3.amazonaws.com/products/highlife-nxt/envoy-nxt/a-spot-jet-system-envoy.jpg);
}

.jetsetternxt-jets-bg {
  background-image: url(https://csp-hotspringspas.s3.amazonaws.com/products/highlife-nxt/jetsetter-nxt/a-spot-jet-system-jetsetter-nxt.jpg);
}


