/* =========================================================================

Jet Specs

========================================================================== */
#jetSystem {
  margin-top: 50px;
}

#jetSystem a {
  display: block;
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: #4D4D4F;
}

#jetSystem .card {
  border: none;
}

#jetSystem .card-header {
  background-color: transparent;
}

.jetSystemASpotContent h2 {
  font-weight: 500 !important;
  margin-bottom: 0;
}

.spaContainer .card-header {
  border-bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.dsCSLogoShow {
  display: inline-block;
}

video.fillWidth {
  width: 100%;
  margin: 0;
}

.card-block video {
  margin: 0 !important;
  padding: 0 !important;
}

#accordion .panel-title > a {
  display: block;
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: #4D4D4F;
}

#accordion .panel-heading {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #ddd;
}

.tech-specs-container {
  h5 a:before {
    font-family: 'FontAwesome';
    content: "\f078";
    margin-right: 1em;
  }
  h5 .collapsed:before {
    content: "\f054";
  }
}

.tech-spec-item {

  @media (min-width: 576px) {
    .tech-title {
      width: 50%;
    }

    .elementor-primary-content,
    .elementor-additional-content {
      width: 50%;
    }
  }
}

.spaContainer .container {
  width: 1062px;
  max-width: 100%;
  padding: 0 20px;
  margin-top: -100px;
  border-radius: 40px;
  background: white;
  z-index: 1;
  position: relative;
  width: 1400px;
}

.jetSystemASpot {
  height: 600px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

#spaPic {
  margin-top: -80px;
}

@media (max-width: 767px) {
  #spaPic {
    display: none;
  }
}

.jetSystemASpotContent {
  position: absolute;
  bottom: 100px;
  text-align: center;
  color: #fff;
  width: 100%;
}

#spaPic {

  image[id^=Circle] {
    display: none;
  }

  image[id^=Circle_1] {
    display: block;
  }

  video {
    width: 100% !important;
    height: auto !important;
  }

  .grow {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }

}

/*Jets product pages accordion*/
.accordion-jets-container .elementor-tab-title:before {
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  display: inline-block !important;
  content: "\f054" !important;
  width: 1.5em !important;
  cursor: pointer !important;
}

.accordion-jets-container .elementor-accordion-icon {
  display: none !important;
}

.accordion-jets-container .elementor-tab-title.elementor-active:before {
  content: "\f078" !important;
}

.accordion-jets-container {
  @media (min-width: 992px) {
    padding: 0% 10% 5% 10% !important;
  }
}