/* =========================================================================
Specs
========================================================================== */
.breads {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  list-style: none;
  .caret {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.product-specs .spec-image .height {
  width: 10px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 6px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.product-specs .spec-image .width {
  position: absolute;
  width: 100%;
  height: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.product-specs .spec-image .width p {
  position: absolute;
  left: calc(50% - .75em);
  top: 20px;
}

.product-specs .spec-image .height p {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 35px;
}

@media (min-width: 992px) {
  .product-specs .spec-image .height {
    width: 10px;
    height: calc(100% - 100px);
    position: absolute;
    bottom: calc(0% + 50px);
    left: 41px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .product-specs .spec-image .width {
    position: absolute;
    width: calc(100% - 50px);
    height: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .product-specs .spec-image .width p {
    position: absolute;
    left: calc(50% - .75em);
    top: 20px;
  }

  .product-specs .spec-image .height p {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 35px;
  }

  .product-specs .spec-image {
    padding: 50px;
    padding-right: 0;
  }
}


