/* =========================================================================
    Reviews
    ========================================================================== */
.single-reviews {
  background: url(https://watkinsdealer.s3.amazonaws.com/images/sitewide/spa-review-bg.jpg);
  background-size: cover;
  color: #ffffff;
}

.single-product .single-reviews {
  padding-bottom: 100px;
}

.single-reviews iframe {
  border: 5px solid #ffffff;
}

.spa-reviews p {
  max-width: initial;
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1.45em;
}

.slick-dots {
  max-width: 100% !important;
  bottom: -50px;
}

.slick-dots li button::before {
  font-size: 16px;
}

.slick-dots li button:before {
  color: #d2d2d2;
  opacity: 0.75;
}

.single-reviews .flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 544px) {
  .spa-reviews p {
    font-size: 28px;
    line-height: 39px;
  }
}

@media (max-width: 992px) {
  .spa-reviews {
    margin-top: 3rem;
  }
}