/* =========================================================================
Title/logo
========================================================================== */

.product-template-hot-tub-template {
  .brand-logo {
    position: relative;
    img {
      width: 40px;
    }
  }
}

.talk-bubble {
  margin: 40px;
  // display: inline-block;
  display: none;
  position: relative;
  width: 250px;
  height: auto;
  background-color: #333;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border: 8px solid #222 !important;
  position: absolute;
  top: 7px;
  left: 36px;
}

.product-template-hot-tub-template .brand-logo:hover .talk-bubble {
  display: block;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #222 transparent transparent transparent;
}

.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #222 #222 transparent transparent;
}

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #222;
}

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #222 transparent transparent #222;
}

.tri-right.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #222 #222 transparent transparent;
}

.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/*
    left: -8px;
  right: auto;
  top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #222;
    left: 0px;
  right: auto;
  top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #222 #222 transparent transparent;
}

.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #222 transparent transparent #222;
}

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  left: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #222 transparent transparent transparent;
  border-color: transparent transparent transparent transparent;
  border-top-color: #222;
}

.tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  left: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: #333 transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  color: #fff;
  font-size: 16px;
}

/* =========================================================================
Swatches/intro
========================================================================== */
.swatch img {
  border: 4px solid #eee;
  vertical-align: top;
}

.swatch p {
  width: 75px;
  margin: 0 auto;
  text-align: center;
}

.cabinetImages .swatch, .shellImages .swatch {
  padding: 0px;
}

.cabinetImages .swatch img, .shellImages .swatch img {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  @media (max-width: 1024px) {
    height: 40px;
    width: 40px;
  }
}

.cabinetImages .active img {
  border: 4px solid #000;
}

.cabinetImages .swatch, .shellImages .swatch {
  display: inline-block;
}

.shellImages .active img {
  border: 4px solid #000;
}

.shellImages ~ .shellImages {
  display: none;
}

.spaTop img {
  width: 100%;
  display: none;
  margin-bottom: -28px;
  z-index: 0;
  position: relative;
}

/*Adjusting swatches*/
.tempo .spaTop img {
  margin-bottom: -1.1%;
}

.rhythm .spaTop img {
  margin-bottom: -1.7%;
}

.sx .spaTop img {
  margin-bottom: -3.4%;
}

.relay .spaTop img {
  margin-bottom: -1.3%;
}

.prism .spaTop img {
  margin-bottom: -1.5%;
}

.pulse .spaTop img {
  margin-bottom: -3.1%;
}

.flash .spaTop img {
  margin-bottom: -1.2%;
}

.flair .spaTop img {
  margin-bottom: -4%;
}

.beam .spaTop img {
  margin-bottom: -1.7%;
}

.spaTop img:first-of-type {
  display: block;
}

.spaBottom img {
  display: none;
}

.spaBottom img:first-of-type {
  display: block;
  margin: 0 auto;
}

.productStylesIntro {

  @media (min-width: 768px) {
    background-color: #efefef;
  }
  a {
    color: $w !important;
  }
}

.productTitle {
  flex: 1 80%;
  order: 1;
  width: 75%;
}

.productCTAs {
  a {
    width: 48%;
    margin-right: 2%;

    @media (max-width: 375px) {
      width: initial;
    }
  }
}

.productStyles {
  order: 2;
  flex: 2 100%;
}

.productImage {

  order: 1;
}

@media (max-width: 767px) {

  .title-lg-up {
    display: none;
  }

  .productTitle {
    display: none;
  }

  .cabinetImages {
    text-align: left;
  }

  .productInfo {
    flex: 5 100%;
    // order: 5;
    order: 1;
  }

  .productCTAs {
    flex: 6 100%;
    order: 6;
    text-align: center;

  }

  .productStyles {
    flex: 4 80%;
    width: 80%;
    order: 4;
  }

  .productTitle {
    display: block;
    order: 1;
    flex: 1 100%;
    text-align: center;

  }

  .productStylesWrap {
    // order: 2;
  }
}

.productReviews div {
  width: 100% !important;
}

.swatch p {
  font-size: 14px;
  line-height: 16px;
  padding-top: 5px;
}

.ctaNav, .ssBtn {
  display: inline-block;
  width: 44% !important;
}

@media (max-width: 780px) {
  .ctaNav, .ssBtn {
    width: 100% !important;
  }
}

.aventine .spaTop img {
  margin-bottom: -18.2%;
}

.ctaNav {
  display: inline-block;
  width: 45%;
}

.woocommerce-cta {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 800px;
}

.woocommerce-cta .btn {
  margin-left: 0 !important
}

@media (min-width: 768px) {
  .title-md-down {
    display: none;
  }
}
