/* =========================================================================

    Tech Specs

    ========================================================================== */

.tech-specs {
  padding-bottom: 100px;
}

.tech-spec-title {
  background-color: #f5f5f5;
  border-color: #ddd;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 10px;
  margin-top: 24px;
}

.tech-spec-title a {
  color: #4D4D4F;
}

.tech-specs .container {
  width: 1400px;
}

#accordion2 .panel-title > a.accordion-toggle.collapsed::before, #accordion2 a.collapsed[data-toggle="collapse"]::before {
  /*content: "\e114";*/
  font-family: 'FontAwesome';
  content: "\f054";
}

#accordion2 .panel-title > a.accordion-toggle::before, #accordion2 a[data-toggle="collapse"]::before {
  /*content: "\e113";*/
  float: left;
  /*font-family: 'Glyphicons Halflings';*/
  content: "\f078";
  font-family: 'FontAwesome';
  margin-right: 1em;
}

#accordion2 .panel-body {
  padding: 0px;
}

.prod-specs h2.title {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

table.prod-specs-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f1f1f1;
  max-width: 800px;
  margin: 0 auto;
}

table.prod-specs-table td {
  height: 40px;
  width: 50%;
  padding: 10px 0px;
}

table.prod-specs-table td p {
  margin: 0;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 24px;
}

table.prod-specs-table td p.table-key {
  font-weight: bold;
  text-align: right;
  margin-right: 20px;
  text-transform: uppercase;
}

.additionalText p {
  font-size: 18px;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  table.prod-specs-table td p, table.prod-specs-table td {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  table.prod-specs-table td p {
    margin-left: 0px;
  }

  table.prod-specs-table td p.table-key {
    margin-right: 0px;
  }
}

table.prod-specs-table tr:nth-child(2n) {
  background: #f1f1f1;
}

.btmBtns {
  text-align: center;
  margin: 0 auto;
}

.carousel-inner .active.left {
  left: -100%;
}

.panel-collapse div {
  padding: 10px;
}

.panel-collapse div img {
  padding-top: 10px;

}

@media (max-width: 414px) {
  .tech-specs .container {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .tech-btns {
    flex-direction: column;
  }
}